{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1> Détails de la séance</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Date</th>
                <td>{{ seance.debut ? seance.debut|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ seance.debut ? seance.debut|date(' H:i') : '' }} -- {{ seance.fin ? seance.fin|date(' H:i') : '' }}</td>
            </tr>


            <tr>
                <th>Enseignant</th>
                <td>{{ seance.profs.fullName }}</td>
            </tr>

            <tr>
                <th>Matiere</th>
                <td>{{ seance.profs.listMatieres[0]|upper }} </td>
            </tr>


            <tr>
                <th>Salle N°</th>
                <td>{{ seance.salle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">back to list</a>

    <a href="{{ path('seance_edit', {'id': seance.id}) }}">edit</a>

    <a href="{{ path('absence_etudiant_index', {'id': seance.id}) }}">Marquer l'absences des eleves</a>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
