{% extends 'base.html.twig' %}

{% block title %}mes Demande{% endblock %}

{% block body %}
    <h1>Mes Demandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Objet</th>
                <th>Etat</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.categorie }}</td>
                <td>{{ demande.objet }}</td>
                <td>{{ demande.etat }}</td>

                <td>
                    <a href="{{ path('demande_show', {'id': demande.id}) }}">details</a>

                    <a href="{{ path('demande_edit', {'id': demande.id}) }}">repondre</a>

                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
