{% extends 'base.html.twig' %}

{% block title %}List Classes{% endblock %}

{% block body %}
    <h1>Liste des classes</h1>
    <a href="/classe/niveau">Créer une nouvelle classe</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nb_eleve</th>
                <th>Capacite</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.nom }}</td>
                <td>{{ classe.nbEleve }}</td>
                <td>{{ classe.capacite }}</td>
                <td>{{ classe.niveau }}</td>
                <td>
                    <a href="{{ path('classe_show', {'id': classe.id}) }}">Détails</a>
                    <a href="{{ path('classe_edit', {'id': classe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Liste vide ...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
