{% extends 'base.html.twig' %}

{% block title %}Classe {{ classe.nom }}{% endblock %}

{% block body %}
    <h1>Classe {{ classe.nom }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ classe.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ classe.nom }}</td>
        </tr>

        <tr>
            <th>Capacite</th>
            <td>{{ classe.nbEleve }}/{{ classe.capacite }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ classe.niveau }}</td>
        </tr>
        <tr>
            <th>Les Elèves</th>
            <td>
                <ol>
                    {% for eleve in eleves %}

                        <li><a href='{{ path('personne_show',{'id': eleve.id}) }}'> {{ eleve }}</a></li>

                    {% endfor %}
                </ol>
            </td>
        </tr>

        <tr>
            <th>Les Enseignants</th>
            <td>
                <ul>
                    {% for matiere in classe.listMatieres %}
                        <li> {{ matiere|upper }} :
                            {% for enseignant in enseignants %}
                                {% for mat in enseignant.listMatieres %}
                                    {% if (mat.nom == matiere) %}
                                        <a href='{{ path('personne_show',{'id': enseignant.id}) }}'> {{ enseignant.fullName() }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>



    <!-- <a href="{{ path('classe_edit', {'id': classe.id}) }}">Modifier</a> -->

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
