{% extends 'form.html.twig' %}

{% block title %}Edit Matiere{% endblock %}

{% block body %}
    <span class="contact100-form-title">
				<h1 class="text-secondary">	Modifier une matiére</h1>
				</span>

    {{ include('matiere/_form.html.twig', {'button_label': 'Update'}) }}



    <a href="{{ path('matiere_index') }}"> <button class="btn btn-secondary">{{ button_label|default('Retour a la liste') }}</button></a>
    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>

    {{ include('matiere/_delete_form.html.twig') }}
{% endblock %}
