{% extends 'form.html.twig' %}

{% block title %}Modifier l'absence{% endblock %}

{% block body %}

    <span class="contact100-form-title">
				<h1 class="text-secondary">	Modifier l'absence</h1>
				</span>
    <div>  Séance numéro:  {{ absence.seance.id }}  </div>
    <div> Nom:  {{ absence.personne.nom }}  </div>
    <div>  Prenom:  {{ absence.personne.prenom }}  </div>

    {{ include('absence/_form.html.twig') }}

    <a href="{{ path('absence_index1') }}"><button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button> </a>
    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>
    {{ include('absence/_delete_form.html.twig') }}
{% endblock %}
