{% extends 'base.html.twig' %}

{% block title %}Absence index{% endblock %}

{% block body %}
    <h1>Absence index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>numero du seance</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>{{ absence.enseignant.nom }}</td>
                <td>{{ absence.enseignant.prenom }}</td>
                <td>
                    <a href="{{ path('absence_new', {'idP':absence.enseignant.id,'idS': absence.id }) }}">Marquer l'absence</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('absence_index') }}">chercher</a>
{% endblock %}
