{% extends 'form.html.twig' %}

{% block title %}Marquer Absence{% endblock %}

{% block body %}
    <span class="contact100-form-title">
				<h1 class="text-secondary">	Marquer l'absence</h1>
				</span>
Numero de la seance: {{ absence.seance.id }} <br>
Nom de l'enseignant : {{ absence.personne.nom}} <br>
Prenom de l'enseignant : {{ absence.personne.prenom}} <br>
    {{ include('absence/_form.html.twig') }}
    <a href="{{ path('absence_index') }}"><button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button> </a>
    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>

{% endblock %}
