{% extends 'base.html.twig' %}

{% block title %}Absence{% endblock %}

{% block body %}
    <h1>Absence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Nom enseignant </th>
                <td>{{ absence.personne.nom }}</td>
            </tr>
            <tr>
                <th>Prénom enseignant </th>
                <td>{{ absence.personne.prenom }}</td>
            </tr>
            <tr>
                <th>Justifie</th>
                <td>{{ absence.Justifie ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('absence_index1') }}">chercher</a>

    <a href="{{ path('absence_edit', {'id': absence.id}) }}">modifier</a>

    {{ include('absence/_delete_form.html.twig') }}
{% endblock %}
