{% extends 'base.html.twig' %}

{% block title %}Liste des {{ role }}s{% endblock %}

{% block body %}
    <h1>Liste des {{ role }}s</h1>
    <div style="text-align: right"><a href="/list/new/{{ role }}">Ajouter</a></div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                {%  if (role == 'eleve') %}
                <th>Date_naissance</th>
                <th>Lieu_naissance</th>
                {% endif %}
                <th>Email</th>
                <th>Num_tel</th>
                {%  if (role == 'enseignant') %}
                <th>Matieres</th>
                {% endif %}


                <th>actions</th>
                {%  if (role == 'enseignant') %}
                    <th>Classe</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                {%  if (personne.role == 'eleve') %}
                <td>{{ personne.dateNaissance ? personne.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ personne.lieuNaissance }}</td>
                {% endif %}
                <td>{{ personne.email }}</td>
                <td>{{ personne.numTel }}</td>

                {%  if (personne.role == 'enseignant') %}
                <td>{% for matiere in personne.matieres %}
                        <ul style="list-style-type:none;">
                            <li>{{ matiere }}</li>
                        </ul>
                    {% endfor %}
                </td>
                {% endif %}


                <td>
                    <a href='{{ path('personne_show',{'id': personne.id}) }}'>Details</a>
                    <a href="{{ path('personne_edit', {'id': personne.id}) }}">Modifier</a>
                    <a href="{{ path('personne_absence', {'id': personne.id}) }}">liste des absences</a>
                    {%  if (personne.role == 'parent') %}
                        <a href="{{ path('demandeliste', {'id': personne.id}) }}">Liste des demande</a>
                    {% endif %}
                    {%  if (personne.role == 'enseignant') %}
                        <a href="{{ path('emploi_en', {'id': personne.id}) }}">emploi</a>
                    {% endif %}
                </td>
                {%  if (personne.role == 'enseignant') %}
                    <td>
                        <a href="{{ path('classeliste', {'id': personne.id}) }}">Liste des classe</a>
                    </td>
                {% endif %}
                {%  if (personne.role == 'eleve') %}
                    <td>
                        <a href="{{ path('note_show', {'id': personne.id}) }}">Liste des note</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Liste vide...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
