{% extends 'base.html.twig' %}

{% block title %}Liste des {{ role }}s{% endblock %}

{% block body %}
    <h1>LISTE DES {{ role|upper }}S</h1>
    <a href="/list/new/{{ role }}" class="btn btn-danger">Ajouter</a>
    <div>
        <br>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                {%  if (role == 'eleve') %}
                <th>Date_naissance</th>
                <th>Lieu_naissance</th>
                {% endif %}
                <th>Email</th>
                <th>Num_tel</th>
                {%  if (role == 'enseignant') %}
                <th>Matiere</th>
                {% endif %}
                <th>actions</th>


            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                {%  if (personne.role == 'eleve') %}
                <td>{{ personne.dateNaissance ? personne.dateNaissance|date('d-m-Y') : '' }}</td>
                <td>{{ personne.lieuNaissance }}</td>
                {% endif %}
                <td>{{ personne.email }}</td>
                <td>{{ personne.numTel }}</td>

                {%  if (personne.role == 'enseignant') %}
                <td>{% for matiere in personne.matieres %}
                        <ul style="list-style-type:none;">
                            <li>{{ matiere|upper }}</li>
                        </ul>
                    {% endfor %}
                </td>
                {% endif %}


                <td>
                    <a href='{{ path('personne_show',{'id': personne.id}) }}'>Details</a>
                    <a href="{{ path('personne_edit', {'id': personne.id}) }}">Modifier</a>

                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="16">Liste vide...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
