{% extends 'profile.html.twig' %}

{% block title %}{{ personne.nom }} {{ personne.prenom }}{% endblock %}

{% block body %}
    <h1>{{ personne.nom }} {{ personne.prenom }}</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ personne.role|upper }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personne.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ personne.sexe|upper }}</td>
            </tr>
            {%  if (personne.role == 'enseignant') %}
            <tr>
                <th>Matieres</th>
                <td>{% for matiere in personne.matieres %}
                        <ul>
                        <li>{{ matiere|upper }}</li>
                        </ul>
                    {% endfor %}</td>
            </tr>
                <tr>
                    <th>Classes</th>
                    <td>{% for classe in personne.classe %}
                            <ul>
                                <li><a href='{{ path('classe_show',{'id': classe.id}) }}'>{{ classe }}</a></li>
                            </ul>
                        {% endfor %}</td>
                </tr>
            {% endif %}
            {%  if (personne.role == 'eleve') %}
            <tr>
                <th>Niveau</th>
                <td>{{ personne.niveau }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Date_naissance</th>
                <td>{{ personne.dateNaissance ? personne.dateNaissance|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu_naissance</th>
                <td>{{ personne.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ personne.cin }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personne.email }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ personne.numTel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ personne.adresse }}</td>
            </tr>


        </tbody>
    </table>
{% endblock %}
{% block img %}
<img class="rounded-circle mt-5"{% if personne.sexe=='female'%} src="/img/avatars/avatarfemme.jpg" {% endif %}
        {% if personne.sexe=='male'%} src="/img/avatars/avatarhomme.png" {% endif %}
     width="90"><span class="font-weight-bold">{{ personne.fullName }}</span><span class="text-black-50">{{ personne.email }}</span></div>
{% endblock %}
 {% block action %}
     <a class="btn btn-info" href="{{ path('news_home') }}">acceuil</a>
     <hr>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-info" href="{{ path('personne_edit', {'id': personne.id}) }}">Modifier</a>
        <hr>
    <a class="btn btn-info" href="/list/{{ personne.role }}">Retour à la liste</a>

        <hr>

        {{ include('personne/_delete_form.html.twig') }}
        <hr>

    {%  if (personne.role == 'enseignant') %}

            <a class="btn btn-info"href="{{ path('classeliste', {'id': personne.id}) }}">Classes</a>
        <hr>
    {% endif %}
    {%  if (personne.role == 'eleve') %}
            <a  class="btn btn-info" href="{{ path('note_show', {'id': personne.id}) }}">Notes</a>
        <hr>
    {% endif %}

    {%  if (personne.role == 'parent') %}
        <a class="btn btn-info" href="{{ path('demandeliste', {'id': personne.id}) }}">Demandes</a>
        <hr>
    {% endif %}

    {%  if (personne.role == 'enseignant') %}
        <a class="btn btn-info" href="{{ path('emploi_en', {'id': personne.id}) }}">Emploi</a>
        <hr>
    {% endif %}

    {%  if (personne.role == 'parent') or (personne.role == 'eleve') %}
    <a class="btn btn-info" href="{{ path('personne_absence', {'id': personne.id}) }}">Absences</a>
        <hr>
    {% endif %}


    {% endif %}

{% endblock %}

