{% extends 'base.html.twig' %}

{% block title %}{{ personne.nom }} {{ personne.prenom }}{% endblock %}

{% block body %}
    <h1>{{ personne.nom }} {{ personne.prenom }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ personne.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ personne.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ personne.prenom }}</td>
        </tr>

            <tr>
                <th>Absences</th>
                <td>{% for absence in personne.absences %}
                        <ul>
                             <li> numero de l'absence: {{ absence.id }}</li>
                             <li> numero de la seance : {{ absence.seance.id }}</li>
                             <li> type de l'absence : {{ absence.justifie }}</li>
                        </ul>
                    {% else %}

            Aucune absence ...

                    {% endfor %}
        </td>
            </tr>




        </tbody>
    </table>
{% endblock %}
