{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.nom }}</td>
                <td>{{ news.titre }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">Details</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">Modifier</a>

                    <a href="{{ path('news_activer', {'id': news.id}) }}">
                        {% if (news.active) %}
                            Retirer
                        {% else %}
                        Afficher
                        {% endif %}

                    </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}">Create new</a>
{% endblock %}
