{% extends 'base.html.twig' %}

{% block title %}Contacte index{% endblock %}

{% block body %}
    <h1>Contacte index</h1>
    <a href="{{ path('contacte_new') }}"><button class="btn btn-info" >nouveau message</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Distinataire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contacte in contactes %}
            <tr>
                <td>{{ contacte.id }}</td>
                <td>{{ contacte.objet }}</td>
                <td>{{ contacte.message }}</td>
                <td>{{ contacte.distinataire }}</td>
                <td>
                    <a href="{{ path('contacte_show', {'id': contacte.id}) }}">show</a>
                    <a href="{{ path('contacte_edit', {'id': contacte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
