{% extends 'base.html.twig' %}

{% block title %}mes messages {% endblock %}

{% block body %}
    <h1>mes messages</h1>
    <a href="{{ path('contacte_new') }}"><button class="btn btn-info" >nouveau message</button></a>
    <div>
        <br>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Objet</th>
            <th>Message</th>
            <th>Distinataire</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for con in contacte %}
            <tr>
                <td>{{ con.id }}</td>
                <td>{{ con.objet }}</td>
                <td>{{ con.message }}</td>
                <td>{{ con.personne }}</td>
                <td>
                    <a href="{{ path('contacte_show', {'id': con.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
