{% extends 'base.html.twig' %}

{% block title %} AbsenceEtudiant{% endblock %}

{% block body %}
    <h1>choisir une seance</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>eleve</th>
        <th>absence</th>
        <th>absence</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{seance.id }}</td>

        <td>
            <ol>
                {% for eleve in  (seance.classe.eleves)  %}

                    <li> {{ eleve.nom }} {{ eleve.prenom }}</li>

                {% endfor %}
            </ol>
        </td>

        <td>
            <ol>
                {% for eleve in  (seance.classe.eleves)  %}
                   <li> <a href="{{ path('nouvelle_absence', {'idP':eleve.id,'idS': seance.id }) }}">Marquer l'absence</a></li>
                {% endfor %}
            </ol>
        </td>
        <td>
            <ol>
                {% for eleve in  (seance.classe.eleves)  %}
                    <li> <a href="{{ path('existance_absence', {'id':eleve.id}) }}">annuller l'absence </a></li>
                {% endfor %}
            </ol>
        </td>



    </tr>
    </tbody>
</table>
{% endblock %}
