{% extends 'base.html.twig' %}

{% block title %}absence eleve {% endblock %}

{% block body %}
    <h1>Marquer l'absence</h1>
    classe: {{ absence.seance.classe }} <br>
    Nom: {{ absence.personne.nom}} <br>
    Prenom: {{ absence.personne.prenom}} <br>
    {{ include('absence/_form.html.twig') }}

    <a href="{{ path('absence_etudiant_index') }}"> <button type="button" class="btn btn-secondary" >Retour</button></a>
    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>

{% endblock %}

