{% extends 'base.html.twig' %}

{% block title %}Absence{% endblock %}

{% block body %}
    <h1>Absence</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ absence.id|default('') }}</td>
        </tr>
        <tr>
            <th>Nom </th>
            <td>{{ absence.personne.nom|default('') }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ absence.personne.prenom |default('')}}</td>
        </tr>
        <tr>
            <th>Justifie</th>
            <td>{{ absence.Justifie|default('') ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('absence_etudiant_index',{'id':absence.seance.id}) }}">retour</a>

    <a href="{{ path('modifier_absence', {'id': absence.id}) }}">modifier</a>
    <a href="{{ path('supprimer_absence', {'id': absence.id}) }}">supprimer</a>

{% endblock %}


