{% extends 'form.html.twig' %}

{% block title %}modifier Cours{% endblock %}

{% block body %}
    <span class="contact100-form-title">
				<h1 class="text-secondary">	Modifier un support du cours</h1>
				</span>

    {{ include('cours/_form.html.twig', {'button_label': 'modifier'}) }}


    <a href="{{ path('cours_index') }}"> <button class="btn btn-secondary">{{ button_label|default('Retour a la liste') }}</button></a>
    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
