{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>liste des support des cours</h1>
    {% if is_granted('ROLE_enseignant') %}
    <a type="button" class="btn btn-danger" href="{{ path('cours_new') }}">Ajouter un nouveau support de cours </a>
        <div>
            <br>
        </div>
    {% endif %}

    <table class="table" style="text-align: center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>

                <td>{{ cour.Nom }}</td>

                <td>
                    {% if is_granted('ROLE_enseignant') %}
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">details</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">modifier</a>
                    {%endif%}
                    <a href="{{ asset( cour.contenu)}}" class="btn btn-success">voir cour</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
